html {
    box-sizing: border-box;
    background-image: url('../media/table.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

svg {
    fill: rgba(117, 45, 45);
    background: rgba(133, 111, 111, 0.2);
    padding: 1.5em;
    border-radius: 50%;
    width: 12.5em;
    margin-bottom: 3em;
}

.wrapper {
    padding: 1.5em;
    max-width: 22em;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 0 .8em rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
}

.plates {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.plates li {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: .65em 0;
    font-weight: 100;
    display: flex;
}

.plates label {
    flex: 1;
    cursor: pointer;
}

.plates input {
    display: none;
}

.plates input + label:before {
    content: '⬜️';
    margin-right: .10px;
}

.plates input:checked + label:before {
    content: '🌮';
}

.add-items {
    margin-top: 1.25em;
}

.add-items input {
    padding: .65em;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.1);
}